{% extends "bootstrap/base.html" %}
{% block title %}{{title}}{% endblock %}

{% block styles %}
    {{super()}}
    <style>
        .navbar.navbar-inverse {background-color: darkblue;}
        li.navbar-brand.active {color: #FFF;}
        li.navbar-brand.active:hover {color: #FFF !important;}
        .navbar-inverse .navbar-brand:hover {color: #9D9D9D !important;}
    </style>
{% endblock styles %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
{% endblock %}